<!doctype html>

<html ng-app="app">

<head>
    <meta charset="utf-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.11/ngStorage.min.js"></script>
    <script src="index.js"></script>
</head>

<body>

<div class="container" ng-controller="indexController">
    <h3>Поиск студентов</h3>
    <form novalidate ng-submit="loadStudents()">
        <div class="form-floating input-group-sm">
            <input type="text" class="form-control" id="filterName" placeholder="" ng-model="filter.name_part">
            <label for="filterName">Имя студента</label>
        </div>
        <p></p>
        <div class="form-floating input-group-sm">
            <input type="number" class="form-control" id="filterAge" placeholder="" ng-model="filter.age">
            <label for="filterAge">возраст</label>
        </div>
        <p></p>
        <button class="btn btn-outline-warning btn-sm" style="width: 100%;" type="submit">Применить</button>
    </form>

    <h3>Список студентов</h3>
    <table class="table table-hover">
        <tr>
            <td>ID</td>
            <td>Имя</td>
            <td>Возраст</td>
            <td>Удалить</td>
        </tr>
        <tbody>
        <tr ng-repeat="s in StudentsPage.content">
            <td>{{s.id}}</td>
            <td>{{s.name}}</td>
            <td>{{s.age}}</td>
            <td>
                <button class="btn btn-danger" ng-click="deleteStudent(s.id)">Удалить</button>
            </td>
        </tr>

        </tbody>
    </table>

    <p></p>
<div>

    <h3>Форма изменения данных студента</h3>
    <form id="updateForm" ng-submit = "updateStudent()" >

        <input type="number" class="form-control" placeholder="id"
               ng-model="Student.id" >
        <p></p>

        <input type="text" class="form-control" placeholder="имя"
               ng-model="Student.name" >
        <p></p>

        <input type="number" class="form-control" placeholder="возраст"
               ng-model="Student.age" >
        <p></p>

        <button type="submit" class="btn btn-primary" >Изменить</button>
    </form>

    <p></p>

    
</div>

<div>
    <h3>Форма добавления нового студента</h3>
    <form id="saveForm" ng-submit = "saveStudent()" >

        <input type="text" class="form-control" placeholder="имя"
               ng-model="newStudent.name" >
        <p></p>

        <input type="number" class="form-control" placeholder="возраст"
               ng-model="newStudent.age" >
        <p></p>

        <button type="submit" class="btn btn-primary">Добавить</button>
    </form>

</div>

</div>

</body>
</html>